@page "/curriculo"
@rendermode InteractiveServer

<PageTitle>Currículo</PageTitle>

<h1>Currículo</h1>
<p></p>
<h2>Celine Souza</h2>

<p>https://github.com/Celinepsouza</p>
<p>https://www.linkedin.com/in/celine-souza-1a38aa225/</p>

<p>Sou estudante de Sistemas da Informação no Inteli, com uma forte paixão por sustentabilidade e tecnologia. Tenho experiência em automação de processos, desenvolvimento de jogos e machine learning, com foco em criar soluções tecnológicas que promovam um impacto positivo no meio ambiente. Atuei em projetos significativos em empresas como BTG Pactual, Dell Technologies e Instituto do Câncer do Estado de São Paulo (ICESP). Possuo habilidades robustas em programação (Python, C), análise de dados e desenvolvimento de dashboards, sempre buscando alinhar inovação tecnológica com práticas sustentáveis.
</p>

<h2>Experiências</h2>

<p> JAN 2023 - FEV 2023 | V.TAL</p>
<p>Estagiário de Férias
 Análise de dados e criação de um Dashboard para mostrar possíveis
 oportunidades para a empresa.</p>

<p> JUL 2023 - AGO 2023 | BANCO BTG PACTUAL</p>
<p> Estagiário de Férias
 Eu desenvolvi um fluxo automatizado para extração, transformação e
 carregamento (ETL) de dados, utilizando Power Automate para integrar
 informações provenientes da plataforma Monday.com e do AWS Lambda. Além
 disso, criei um dashboard diretamente na AWS, permitindo o monitoramento dos
 dados sem a necessidade de utilizar o Power BI.</p>

 <p> JAN 2024 - FEV 2024 | BANCO BTG PACTUAL</p>
 <p>Estagiário de Férias
 Atuei na automatização de processos de captura de dados em sites
 públicos.</p>

 <p> FEV 2025 - o Momento</p>
 <p>Estagiário em Análise de Sistemas
Atuo na parte de automação de projetos e Power BI</p>

 <h2>PRINCIPAIS COMPETÊNCIAS</h2>

 <p>Linguagens de Programação: Python, C, C++, Java.</p>
 <p>Ferramentas e Tecnologias: AWS (Lambda, RDS), Power Automate,
 Git, GitHub, Google Colab.</p>
 <p> Machine Learning: Scikit-learn, TensorFlow.</p>
<p> Desenvolvimento Web: HTML, CSS, JavaScript, React.</p>
 <p>Análise de Dados: Pandas, Matplotlib, Power BI.</p>

 